.capture {
  position: relative;
  width: 540px;
  height: 540px;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./background_photo.jpg);
  background-size: cover;
}

.frontImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./instagram_post.png);
  background-size: cover;
  /* opacity: 0.7; */
}

.textWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.description {
  position: absolute;
  top: 387px;
  left: 65px;
  width: 300px;
  height: 120px;
  color: #fff;
}

.title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 29px;
  font-family: 'Ossem Rounded';
}

.text {
  margin: 0;
  font-size: 16px;
  font-family: 'Ossem Rounded';
}

.price {
  margin: 0;
  font-size: 24px;
  font-family: 'Ossem Rounded';
}

.sale {
  position: absolute;
  top: 25px;
  left: 391px;
  width: 124px;
  height: 70px;
  box-sizing: border-box;
  text-align: center;
  padding: 16px;
  color: #fff;
}

.discount {
  margin: 0;
  font-size: 32px;
  font-family: 'Ossem Rounded';
}
